{
  "name": "server-mbp",
  "watched_services": [
    "docker",
    "sshd",
    "nginx"
  ],
  "allowed_restart": [
    "truly-postgres",
    "truly-valkey",
    "truly-api"
  ],
  "backup_path": "/home/luca/Docker/db-truly/borgmatic",
  "ignored_ssh_key_fingerprints": [],
  "smart_devices": [
    "/dev/sda",
    "/dev/nvme0n1",
    "/dev/nvme0",
    "/dev/vda"
  ]
}
